<!--
  Generated template for the BusToolbar component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div style=" background:#DDDDDD;">
  	<button ion-button clear  icon-top>
      <ion-icon name='home'></ion-icon>
      查看位置
    </button>
    <button ion-button  clear  icon-top>
      <ion-icon name='briefcase' is-active="false"></ion-icon>
      路线详情
    </button>
    <button ion-button clear  icon-top>
      <ion-icon name='beer' is-active="false"></ion-icon>
      到站提醒
    </button>
    <button ion-button clear  icon-top>
      <ion-icon name='beer' is-active="false"></ion-icon>
      收藏路线
    </button>
</div>
<!--
<ion-tabs>
  <ion-tab tabTitle="查看位置" tabIcon="home"></ion-tab>
  <ion-tab tabTitle="路线详情" tabIcon="swap"></ion-tab>
  <ion-tab tabTitle="到站提醒" tabIcon="person"></ion-tab>
  <ion-tab tabTitle="收藏路线" tabIcon="person"></ion-tab>
</ion-tabs>
-->